.email-item {
  padding: 2px 30px 4px 10px;
  position: relative;
  background: rgb(212, 228, 255);
  border-radius: 12px;
  &.error {
    background: none;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px dotted rgb(209, 72, 54);
    }
  }
  .action {
    position: absolute;
    background: none;
    border: none;
    right: 0;
    top: 0;
    bottom: 0;
    width: 25px;
    &:before {
      content: ' \00d7 ';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: -1px;
    }
  }
}
